@tailwind base;
@tailwind components;
@tailwind utilities;

/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

/* princing card start */
.pricing-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
}

.card {
  min-width: 300px;
  min-height: 800px;
  padding: 2rem;
  margin: 5px;
  background-color: #10124a2b !important; 
  color: #333; 
  border-radius: 1rem;
  box-shadow: 4px 4px 10px rgba(0, 0, 0.5, 1); /* Softer shadow */
  border: 1px solid #ddd; /* Subtle border */
  position: relative;
}

.card .card__border {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: calc(100% + 2px);
  height: calc(100% + 2px);
  border-radius: 1rem;
  border: 2px solid #29186e; /* Highlighting the border */
}

.card .card_title {
  font-size: 1.2rem;
  font-weight: bold;
  color: #29186e; /* Accent color for title */
}

.card .card_paragraph {
  font-size: 0.9rem;
  color: #666; /* Slightly darker text for better readability */
}

.card .line {
  width: 100%;
  height: 2px;
  background-color: #ddd; /* Lighter separator */
  border: none;
}

.card__list {
  list-style: none;
  padding: 3px;
}

.card__list_item {
  display: flex;
  align-items: center;
  gap: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  color: #444; /* Making list items more visible */
}

.check {
  width: 1rem;
  height: 1rem;
  background-color: #29186e; /* Keeping the accent color */
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.check_svg {
  width: 0.75rem;
  height: 0.75rem;
  fill: white; /* White icon for better contrast */
}

.button {
  cursor: pointer;
  width: 100%;
  padding: 10px;
  border: none;
  background: linear-gradient(90deg, #5e3aee 0%, #c56bf0 100%);
  color: white;
  border-radius: 50px;
  font-weight: bold;
}
/* pricing card ends */

/* header  */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background-color: transparent; /* Change this to your desired background color */
  display: flex;
  align-items: center;
  padding: 0px 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


.logo {
  width: 60%; /* Adjust the size as needed */
  padding-top: 15px;
  cursor: pointer;
}




/* nav bar  */
.navbar {
  position: fixed;
  padding-bottom: 20px;
  bottom: 0;
  width: 100%;
/* Or whatever background color you need */
}





.spinner {
  background-image: linear-gradient(rgb(186, 66, 255) 35%,rgb(0, 225, 255));
  width: 150px;
  height: 150px;
  animation: spinning82341 2s linear infinite;
  text-align: center;
  border-radius: 50px;
  filter: blur(1px);
  box-shadow: 0px -5px 20px 0px rgb(186, 66, 255), 0px 5px 20px 0px rgb(0, 225, 255);
}

.spinner1 {
  background-color: rgb(0, 0, 0);
  width: 150px;
  height: 150px;
  border-radius: 50px;
  filter: blur(10px);
}

@keyframes spinning82341 {
  to {
    transform: rotate(360deg);
  }
}


/* heart */

.love-heart:before,#switch {
  display: none;
 }
 
 .love-heart, .love-heart::after {
  border-color: hsl(231deg 28% 86%);
  border: 1px solid;
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
  width: 10px;
  height: 8px;
  border-bottom: 0
 }
 
 .round {
  position: absolute;
  z-index: 1;
  width: 8px;
  height: 8px;
  background: hsl(0deg 0% 100%);
  box-shadow: rgb(0 0 0 / 24%) 0px 0px 4px 0px;
  border-radius: 100%;
  left: 0px;
  bottom: -1px;
  transition: all .5s ease;
  animation: check-animation2 .5s forwards;
 }
 
 input:checked + label .round {
  transform: translate(0px, 0px);
  animation: check-animation .5s forwards;
  background-color: hsl(0deg 0% 100%);
 }
 
 @keyframes check-animation {
  0% {
   transform: translate(0px, 0px);
  }
 
  50% {
   transform: translate(0px, 7px);
  }
 
  100% {
   transform: translate(7px, 7px);
  }
 }
 
 @keyframes check-animation2 {
  0% {
   transform: translate(7px, 7px);
  }
 
  50% {
   transform: translate(0px, 7px);
  }
 
  100% {
   transform: translate(0px, 0px);
  }
 }
 
 .love-heart {
  box-sizing: border-box;
  position: relative;
  transform: rotate(-45deg) translate(-50%, -33px) scale(6.5);
  display: block;
  border-color: hsl(231deg 28% 86%);
  cursor: pointer;
  top: 0;
 }
 
 input:checked + .love-heart, input:checked + .love-heart::after, input:checked + .love-heart .bottom {
  border-color: hsl(347deg 81% 61%);
  box-shadow: inset 6px -5px 0px 2px hsl(347deg 99% 72%);
 }
 
 .love-heart::after, .love-heart .bottom {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  border-color: hsl(231deg 28% 86%);
 }
 
 .love-heart::after {
  right: -9px;
  transform: rotate(90deg);
  top: 7px;
 }
 
 .love-heart .bottom {
  width: 11px;
  height: 11px;
  border-left: 1px solid;
  border-bottom: 1px solid;
  border-color: hsl(72, 28%, 86%);
  left: -1px;
  top: 5px;
  border-radius: 0px 0px 0px 5px;
 }
 




/* menu style */

.hamburger {
  cursor: pointer;
}

.hamburger input {
  display: none;
}

.hamburger svg {
  /* The size of the SVG defines the overall size */
  height: 3em;
  /* Define the transition for transforming the SVG */
  transition: transform 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line {
  fill: none;
  stroke: white;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 3;
  /* Define the transition for transforming the Stroke */
  transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
              stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line-top-bottom {
  stroke-dasharray: 12 63;
}

.hamburger input:checked + svg {
  transform: rotate(-45deg);
}

.hamburger input:checked + svg .line-top-bottom {
  stroke-dasharray: 20 300;
  stroke-dashoffset: -32.42;
}





 
/* arrow for back to top */

.arrow-hover {
  transition: transform 0.3s ease-in-out, color 0.3s ease-in-out;
}

.arrow-hover:hover {
  transform: translateY(-1rem);
  color: #d3f5c6; /* Tailwind's blue-500 */
}



/* contact button */
.boton-elegante {
  padding: 10px 25px;
  margin-right: 20px;
  border: 2px solid #414040;
  background-color: #1a1a1a;
  color: #ffffff;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 30px;
  transition: all 0.4s ease;
  outline: none;
  position: relative;
  overflow: hidden;
  font-weight: bold;
}

.boton-elegante::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 0.25) 0%,
    rgba(255, 255, 255, 0) 70%
  );
  transform: scale(0);
  transition: transform 0.5s ease;
}

.boton-elegante:hover::after {
  transform: scale(4);
}

.boton-elegante:hover {
  border-color: #666666;
  background: #292929;
}









/* details card */
/* 
.outer {
  width: 300px;
  height: 250px;
  border-radius: 10px;
  padding: 1px;
  background: radial-gradient(circle 230px at 0% 0%, #ffffff, #0c0d0d);
  position: relative;
}

.dot {
  width: 5px;
  aspect-ratio: 1;
  position: absolute;
  background-color: #fff;
  box-shadow: 0 0 10px #ffffff;
  border-radius: 100px;
  z-index: 2;
  right: 10%;
  top: 10%;
  animation: moveDot 6s linear infinite;
}

@keyframes moveDot {
  0%,
  100% {
    top: 10%;
    right: 10%;
  }
  25% {
    top: 10%;
    right: calc(100% - 35px);
  }
  50% {
    top: calc(100% - 30px);
    right: calc(100% - 35px);
  }
  75% {
    top: calc(100% - 30px);
    right: 10%;
  }
}

.card {
  z-index: 1;
  width: 100%;
  height: 100%;
  border-radius: 9px;
  border: solid 1px #202222;
  background-size: 20px 20px;
  background: radial-gradient(circle 280px at 0% 0%, #444444, #0c0d0d);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  flex-direction: column;
  color: #fff;
}
.ray {
  width: 220px;
  height: 45px;
  border-radius: 100px;
  position: absolute;
  background-color: #c7c7c7;
  opacity: 0.4;
  box-shadow: 0 0 50px #fff;
  filter: blur(10px);
  transform-origin: 10%;
  top: 0%;
  left: 0;
  transform: rotate(40deg);
}

.card .text {
  font-weight: bolder;
  font-size: 2rem;
  background: linear-gradient(45deg, #000000 4%, #fff, #000);
  background-clip: text;
  color: transparent;
}
.card .text2 {
  font-weight: bolder;
  font-size: 1rem;
  background: linear-gradient(45deg, #000000 4%, #fff, #000);
  background-clip: text;
  color: transparent;
}

.line {
  width: 100%;
  height: 1px;
  position: absolute;
  background-color: #2c2c2c;
}
.topl {
  top: 10%;
  background: linear-gradient(90deg, #888888 30%, #1d1f1f 70%);
}
.bottoml {
  bottom: 10%;
}
.leftl {
  left: 10%;
  width: 1px;
  height: 100%;
  background: linear-gradient(180deg, #747474 30%, #222424 70%);
}
.rightl {
  right: 10%;
  width: 1px;
  height: 100%;
} */




.card {
  width: 250px;
  height: 200px;
  border-radius: 15px;
  background: rgba(105, 13, 197, 0.103);
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
}

.card::before {
  content: "";
  height: 100px;
  width: 100px;
  position: absolute;
  top: -40%;
  left: -20%;
  border-radius: 50%;
  border: 35px solid rgba(255, 255, 255, 0.102);
  transition: all .8s ease;
  filter: blur(.5rem);
}

.text {
  flex-grow: 1;
  padding: 15px;
  display: flex;
  flex-direction: column;
  color: aliceblue;
  font-weight: 900;
  font-size: 1.2em;
}

.subtitle {
  font-size: .6em;
  font-weight: 300;
  color: rgba(240, 248, 255, 0.691);
}

.icons {
  display: flex;
  justify-items: center;
  align-items: center;
  width: 250px;
  border-radius: 0px 0px 15px 15px;
  overflow: hidden;
}

.btn {
  border: none;
  width: 84px;
  height: 35px;
  background-color: rgba(247, 234, 234, 0.589);
  display: flex;
  align-items: center;
  justify-content: center;
}

.svg-icon {
  width: 25px;
  height: 25px;
  stroke: rgb(38, 59, 126);
}

.btn:hover {
  background-color: rgb(247, 234, 234);
}

.card:hover::before {
  width: 140px;
  height: 140px;
  top: -30%;
  left: 50%;
  filter: blur(0rem);
}